body{
    background: beige;
}
.welcome{
        margin: 1rem 0;
        background: #fff;       
        padding: 0.5rem;
        text-align: center;
        border: 17%;
        border-radius: 13px;
        width: 100%;
}
.last-post ul li {
    list-style: none;
    margin: 10px 0;
    padding: 5px 10px;
    background: beige;
    font-size: small;
}
.last-post  ul li:hover{
    background: #fff176;
}
.last-post li a{
    text-decoration: none;
    color: black;
    font-size: small;
}
.labletag{
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
    padding: 7px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
}
.last-post{
    box-shadow: 0 5px 16px 0 hsla(0, 0%, 0%, 0.801);
    padding: 1.5rem;
    background: #fff;
    border-radius: 10px;
}

/*sendpost*/
.sendpost{
    height: auto;
    margin: 2rem auto;
    height: auto;
    background: #fff;
    box-shadow: 0 5px 16px 0 hsla(0, 0%, 0%, 0.801);
    border-radius: 10px;
}
.sendpostbox label {
   float: right;
   font-weight: bold;
   margin: 10px 0;
}
.sendpostbox input[type=text]{
    float: right;
    width: 90%;
    height: 30px;
    margin: 5px 5%;
    border: 1px solid #ffbb33;
    background: beige;
    border-radius: 10px;

}
.sendpostbox textarea{
    float: right;
    width:90% ;
    height: 300px;
    margin: 5px 5%;
    border: 1px solid #ffbb33;
    background: beige;
    border-radius: 10px;
}
/* uploadimage */
.uploadbox{
    margin: 3rem auto;
    text-align: center;
    background: #ffcc6e;
    width: fit-content;
    border-radius: 1rem;
    box-shadow: 0 3px 10px 0 hsl(0deg 0% 47%);
}
.fileupload{
    width: 13rem;
}
.uploagimg{
    background: #fd6e64a6;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
}
.subupload{
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
    border: none;
    width: 6.5rem;
    font-weight: bold;
    background: #fe8f67;
}
.uploadbigbox{
    background: linear-gradient(to right, #ffd46f 0%, #fc6a63 100%);   
    margin: auto;
    border-radius: 1rem;
    height: auto;
    box-shadow: 0 3px 10px 0 hsl(0deg 0% 47%);
    font-weight: bold;
    height: auto;
    text-align: center;
    width: 40%;
}
.uploadbigbox a{
    text-decoration: none;
    padding-bottom: 1rem;
}
.uploadbigbox a:hover{
    background: beige;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: auto;
}
.uploadbigbox p , center {
    padding: 0.8rem;
    margin: 1rem;
}
.uploadbigbox p:hover{
    background: beige;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 90%;
    margin:auto;
}
.post-manage{
    background: #fff;
    box-shadow: 0 5px 16px 0 hsla(0, 0%, 0%, 0.801);
    border-radius: 10px;
    width: 80%;
}
.post-manage ul li{
    list-style: none;
    margin: 1rem 0;
}
.post-manage ul li:hover{
    background: #ffdc889c;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: auto;
    font-weight: bold;
}
.post-manage ul {
    margin: 1rem 0;
}
.post-manage a{
    text-decoration: none;
    color:black ;
}
.post-manage  a:hover{
    background: #ffdc889c;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: auto;
    font-weight: bold;
}