body{
    direction: rtl;
}
/* navbar */
.navbar{
    background: linear-gradient(to right, #ffd46f 0%, #fc6a63 100%); 
}
.navbar-brand , .fa-bars{
    list-style: none;
    color: #000000;
    font-weight: bold;
    text-shadow:  0 1px #eeeeee, 0 0 9px #00000b;
    font-size: 1.5rem;
}
.navbar .dropdown-menu{
    text-align: right;
}
.navbar .dropdown-menu {
    text-align: right;
    background: linear-gradient(to right, #ffd46f 0%, #fc7c65 100%);
    border: none;
    margin-right: 1rem;
}
.navbar li a{
    color: #071347;
    font-weight: bold;
    font-size: 1rem;
}    
/* special-post */
.specialpost{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.special{
    overflow: hidden;
    width: 250px;
    height: 250px;
    background: #ffd46f;
    transition: 0.3s ease-in-out;
    box-shadow: 0 5px 16px 0 hsl(0deg 6% 36% / 80%);
}
.special:hover{
    background: #63c3a7;
    height: 350px;
    width: 250px;
    box-shadow: 0 5px 16px 0 hsl(0deg 6% 36% / 80%);
}
.special:hover .special-content{
    opacity: 1;
    margin-top: 0;
}
.special-img{
    width: 200px;
    height: 200px;
    margin: 20px 0 0;
    align-self: center;
}
.special-content{
    color: #fff;
    margin-top: -140px;
    opacity: 0;
    text-align: center;
    transition: 0.3s ease-in-out;
    font-weight:bold;
}
.card-title{
    font-size: 20px;
    font-weight:bold ;
}
.special span{
    transition: 0.5s;
    opacity: 0;
}
.special:hover span{
    opacity: 1;
}
.special span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right , transparent ,#fff);
    animation: animet1 2s linear infinite;
}
@keyframes animet1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
} 
.special span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom , transparent , #fff);
    animation: animet2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animet2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.special span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left , transparent ,#fff);
    animation: animet3 2s linear infinite;
}
@keyframes animet3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
} 
.special span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top , transparent , #fff);
    animation: animet4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animet4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}  
/* postcontent */
.postcontent{
    background: #ffd46f;
    height: auto;
    position: relative;
    text-align: center;
    box-shadow: 0 5px 16px 0 hsl(0deg 6% 36% / 80%);
    overflow: hidden;
}
.postcontent:hover{
    background: #63c3a7;
}
.btn-postcontent{
    bottom: 0;
    position: absolute;
    left: 0;
    margin: 1rem;
    text-align: end !important;
}
.btn-postcontent a{
    background: #63c3a7;
    color: #fff;
    font-weight: bold;
}
.postcontent:hover a{
    background: #ffd46f;
    color: #fff;
    font-weight: bold;
}
.title-postcontent{
    background: #63c3a7;
    padding: 0.5rem 1.5rem;
    color: #fff;
    border-radius: 10px;
}
.postcontent:hover .title-postcontent{
    background: #ffd46f;
}
.postcontent span{
    transition: 0.5s;
    opacity: 0;
}
.postcontent:hover span{
    opacity: 1;
}
.postcontent span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right , transparent ,#fff);
    animation: animet1 2s linear infinite;
}
@keyframes animet1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
} 
.postcontent span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom , transparent , #fff);
    animation: animet2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animet2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.postcontent span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left , transparent ,#fff);
    animation: animet3 2s linear infinite;
}
@keyframes animet3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
} 
.postcontent span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top , transparent , #fff);
    animation: animet4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animet4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
.image-postcontent{
    width: 200px !important;
    height:200px !important;
} 
/* page */
.img-page{
    height: auto;
    max-width: 280px; 
}
.imgcard-page{
    height: auto;
}
.page-content{
    background: #ffd46f;
    height: auto;
    min-height: 430px;
    position: relative;
    box-shadow: 0 5px 16px 0 hsl(0deg 6% 36% / 80%);
}
/* footer  */
.footer{
    background: linear-gradient(to right, #ffd46f 0%, #fc7c65 100%);
}
.footer label{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.footer li{
    margin: 13px;
}
.footer li a{
    text-decoration: none;
    color: #071347;
    font-weight: bold;
}
.footer li:hover{
    background: burlywood; 
    padding: 10px; 
}
.footer li:hover a{
    font-weight: bold;
}
.footer p{
    color: #071347;
    font-weight: bold;
    line-height: 2rem;
}
/* page  */
.page-body{
    background: #ffd46f;
    border: 5px solid #63c3a7;
    position: ;
}